body{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(209, 193, 193);
}
.container  { 
   
    background-color: lightgray;
}
li, a {
    text-decoration: none;
}
ul,li {
    list-style-type: none;
    float: left;
    padding: 20px;
}
li {
    padding-top:14px;
    padding-left:15px;
    padding-bottom:12px;
    padding-right:15px;
    background-color: gray;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    
}
h1{
    color:orangered;
    font-family: sans-serif;
    margin-left:50px;
    font-size: 40px;
    text-align: center;
    
}
img {
    margin-left: 50px;
    border: 2px purple ridge; 

}
p{
  color: black;
  margin-left: 50px;
  margin-right:  35px;
  word-spacing: 5px;
  line-height: 25px;
}
h3{
    color: rgb(255, 100, 44);
    margin-left: 50px;
    margin-right:  35px;
}
#left-column{
    width: 300px;
    float: left;
    padding-top: 20px; 
}
#sidebar{
    width: 350px;
    float: left;
    
}

#footer{
    color: white;
    background-color: grey;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top:90px;
    font-family: sans-serif;
    font-size: 14px;
}
iframe{
    padding-left: 50px;
}